@import 'vars';

.handbook {
	min-height: calc(100vh - 63px);
	display: flex;
	align-items: center;
	flex-direction: column;
	&__title {
		color: $middle-blue;
		padding: 50px 0;
		font-size: 30px;
	}
	&__navigation {
		padding: 15px 30px;
		box-shadow: 3px 3px 10px $middle-blue;
		border-radius: 5px;
		display: flex;
		flex-direction: column;
	}
	&__list {
		list-style: none;
		&-title {
			font-size: 22px;
			color: $middle-blue;
			text-align: center;
			padding: 5px;
			margin-bottom: 5px;
			font-weight: 400;
			border: 1px solid rgba(0, 0, 0, 0.02);
			box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
				rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
			border-radius: 5px;
		}
		&-item {
			color: $middle-blue;
			font-size: 18px;
			padding: 5px 0;
			margin-bottom: 5px;
			display: flex;
			align-items: center;

			&:hover {
				cursor: pointer;
				background-color: $middle-blue;
				color: $white;
				transition: all 0.3s;
				border-radius: 5px;
				fill: $white;
			}
		}
	}
	&__btns {
		display: flex;
		flex-direction: column;
	}
	&__btn {
		margin: 5px 0;
		border: none;
		border-radius: 5px;
		padding: 5px 5px;
		color: $middle-blue;
		text-transform: uppercase;
		font-size: 16px;
		outline: none;
		&:hover {
			color: $white;
			cursor: pointer;
			background-color: $middle-blue;
			transition: all 0.3s;
		}
	}
}

.article-area {
	max-width: 50%;
}

.handbook-icon {
	height: 25px;
	display: inline-block;
	padding-right: 5px;
	&:hover {
		fill: $white;
	}
}

@media (max-width: 960px) {
	.handbook {
		&__title {
			font-size: 24px;
			padding: 20px 0;
		}
		&__navigation {
			width: 500px;
		}
	}
	.handbook__list-item {
		span {
			display: none;
		}
	}
}
@media (max-width: 520px) {
	.handbook {
		&__navigation {
			width: 300px;
		}
	}
}
